apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: postgres
spec:
  selector:
    app: postgres-deployment
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
      protocol: TCP
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  name: pgbouncer-service
  namespace: postgres
spec:
  selector:
    app: pgbouncer
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
      protocol: TCP
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  name: electric
  namespace: postgres
  labels:
    app: electric
spec:
  selector:
    app: electric
  ports:
    - name: api
      port: 5133
      targetPort: 5133
    - name: logical-replication
      port: 5433
      targetPort: 5433
    - name: pg-proxy
      port: 65432
      targetPort: 65432
  type: LoadBalancer
