apiVersion: v1
kind: Service
metadata:
  name: temporal-server
  namespace: temporal
  labels:
    app: temporal-server
spec:
  type: ClusterIP
  ports:
    - port: 7233
      targetPort: 7233
      protocol: TCP
      name: grpc
  selector:
    app: temporal-server
---
apiVersion: v1
kind: Service
metadata:
  name: temporal-ui
  namespace: temporal
  labels:
    app: temporal-ui
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: temporal-ui
