apiVersion: apps/v1
kind: Deployment
metadata:
  name: temporal-ui
  namespace: temporal
  labels:
    app: temporal-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: temporal-ui
  template:
    metadata:
      labels:
        app: temporal-ui
    spec:
      containers:
        - name: temporal-ui
          image: temporalio/ui:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: TEMPORAL_ADDRESS
              value: temporal-server.temporal.svc.cluster.local:7233
            - name: TEMPORAL_CORS_ORIGINS
              value: https://temporal.horus.maix.ovh
            - name: TEMPORAL_UI_PORT
              value: "8080"
            - name: TEMPORAL_SERVER_PORT
              value: ""
            - name: TEMPORAL_POSTGRES_PORT
              value: ""
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
