apiVersion: v1
kind: Service
metadata:
  name: coturn
  namespace: coturn
spec:
  selector:
    app: coturn
  type: LoadBalancer
  ports:
    - name: turn-udp
      port: 3478
      targetPort: 3478
      protocol: UDP
    - name: turn-tcp
      port: 3478
      targetPort: 3478
      protocol: TCP
    - name: turns-udp
      port: 5349
      targetPort: 5349
      protocol: UDP
    - name: turns-tcp
      port: 5349
      targetPort: 5349
      protocol: TCP
