apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pad
resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - httproute.yaml
