apiVersion: v1
kind: ConfigMap
metadata:
  name: searxng-config
  namespace: searxng
data:
  settings.yml: |
    use_default_settings: true

    general:
      instance_name: "SearXNG"
      privacypolicy_url: false
      donation_url: false
      contact_url: false
      enable_metrics: false

    search:
      safe_search: 0
      autocomplete: "google"
      default_lang: "en"
      formats:
        - html
        - json

    server:
      secret_key: "change-this-secret-key-in-production"
      limiter: false
      image_proxy: true
      http_protocol_version: "1.1"

    ui:
      static_use_hash: true
      default_theme: simple
      results_on_new_tab: false

    outgoing:
      request_timeout: 3.0
      max_request_timeout: 10.0
      useragent_suffix: ""
      pool_connections: 100
      pool_maxsize: 20

    engines:
      - name: google
        engine: google
        shortcut: g
        disabled: false
      - name: bing
        engine: bing
        shortcut: b
        disabled: false
      - name: duckduckgo
        engine: duckduckgo
        shortcut: ddg
        disabled: false
      - name: wikipedia
        engine: wikipedia
        shortcut: w
        disabled: false
      - name: wikidata
        engine: wikidata
        shortcut: wd
        disabled: false
      - name: arxiv
        engine: arxiv
        shortcut: arx
        disabled: false
      - name: github
        engine: github
        shortcut: gh
        disabled: false
